{% extends 'estructura.html' %}
{% block contenedor %}
<section class="container">
    <br>
    <br>
    <br>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis blanditiis tempore dolorem quasi,
        itaque, maiores ipsum laborum eaque, aspernatur modi fugit pariatur dolores animi repudiandae quos ex corrupti facilis.
    </p>
</section>
{% endblock %}