{% extends 'estructura.html'%}
{% block contenedor %}

    <section class="container">
        <br>
        <br>
        <br>
        <embed src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.579022144383!2d-93.
        10741038463094!3d17.19067771297207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
        1s0x85ecfe197d29562d%3A0xc48a99d65a6c960e!2s29670%20Tapalapa%2C%20Chis.!5e0!3m2!
        1ses!2smx!4v1655057695356!5m2!1ses!2smx" 
        width="1500"
        height="800" 
        style="border:0;"
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </section>
{% endblock %}